node_modules/
*.log
vector_memory.dat
ios/vendor/
ios/monGARS.xcodeproj/
ios/.bundle/
ios/.xcode.env.local
/build/
android/app/build/
.env
ios/build/
ios/monGARS.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
!ios/build/generated/
!ios/build/generated/ios/**
ios/monGARS.xcresult
ios/MyOfflineLLMApp/Resources/Models/*
!ios/MyOfflineLLMApp/Resources/Models/.gitkeep
ios/MyOfflineLLMApp/Models/*
!ios/MyOfflineLLMApp/Models/fallback_models.json



offLLM.code-workspace
.venv/
.vscode/
runs/

.vscode/PythonImportHelper-v2-Completion.json
unsloth_compiled_cache/
